.div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.animation {
  margin-top: 150px;
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-top-color: crimson;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
